{
   "subject": "0001",
   "session": null,
   "task": "AEF",
   "acquisition": null,
   "processing": null,
   "recording": null,
   "space": null,
   "suffix": null,
   "datatype": "meg",
   "root": "bids"
}
