{
    "fif": "/network/lustre/iss01/home/aurore.bussalb/Repositories/test_snr/data/subject_4/bad_channels_4.fif",
    "_inputs": [
        {
            "keys": [
                "fif", "test"
            ]
        }
    ]
}